<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div style="margin-left: auto; margin-right: auto; height: auto; text-align: center;">
  <div class="field" style="margin-left: auto; margin-right: auto;">
    <%= f.label :teamname %><br />
    <%= f.text_field :teamname %>
  </div>
    <div class="field">
      <%= f.label :choose_first_player %><br />
      <%= f.text_field :player1 %>
    </div>
    <div class="field">
      <%= f.label :choose_second_player %><br />
      <%= f.text_field :player2 %>
    </div>
    <div class="field">
      <%= f.label :choose_third_player %><br />
      <%= f.text_field :player3 %>
    </div>
    <div class="field">
      <%= f.label :choose_fourth_player %><br />
      <%= f.text_field :player4 %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>

   </div>
<% end %>
