<p id="notice"><%= notice %></p>

<p style="text-align: center;">
  <b>Team name:</b>
  <%= @team.teamname %>
</p>

<p style="text-align: center;">
    <b>Team Owner</b>
   <% owner = User.find(session[:user_id]).username %>
  <%= owner %>
 </p>

<p style="text-align: center;"> <b>List of Players in Team</b>    </p>
<div style="margin-left: auto; margin-right: auto; text-align: center;">
     <ul style="list-style: square; display: inline-block; text-align: left;">
       <li> <%= @team.player1 %> </li>
       <li> <%= @team.player2 %> </li>
       <li> <%= @team.player3 %> </li>
       <li> <%= @team.player4 %> </li>
     </ul>
</div>
<div style="margin-left: auto; margin-right: auto; height: auto; text-align: center;">
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
</div>