<h1 style="text-align: center;">Enter login credentials</h1>
<% if flash[:error] %>
    <div style="width: 600px; height: auto;
            text-align: center; border: 2px solid red;
            font-family: helvetica; font-size: 16px; font-weight: bolder; margin-left: auto; margin-right: auto;    ">
      <%= flash[:notice] = "Oops, looks like you are not logged in. Please login" %>
    </div>
<% end %>
<%= form_tag do %>
  <div style="text-align: center; margin-top: 40px;">
    <p>
      <b style="font-family: helvetica; font-size: 16px;">Username</b> <br/>
      <%= text_field_tag :username, params[:username] %>
    </p>
    <p>
      <b style="font-family: helvetica; font-size: 16px;">Password</b> <br/>
      <%= password_field_tag :password, params[:password] %>
    </p>
    <p>
      <%= submit_tag "Login" %>
    </p>
  </div>

    <p style="text-align: center;"> Or <%= link_to "Sign in with Twitter", "/auth/twitter" %> </p>
<% end %>
